/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 90px;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
  --dark-blue-darker: #262634;
  --dark-blue-dark: #413A4F;
  --dark-blue-dark-hover: #3B3447;
  --dark-blue-normal: #3E3D57;

  --black-purple-dark: #171023;

  --orange-normal: #F3752E;

  --gradient-primary: linear-gradient(180deg, #00F5A0 0%, #9955E8 100%);

  --purple-normal: #8A42DB;
  --purple-normal-hover: #7C3BC5;
  --purple-ligth: #B175FF;
  --purple-transluced: rgba(151, 71, 255, 0.14);

  --basic-white: #FFFFFF;

  --basic-black: #000000;
}

body {
  background-color: var(--dark-blue-darker);
  color: var(--basic-white);
  font-family: var(--font-heebo);
}

p {
  margin: 0;
}

body::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #D0D4CE;
}

body::-webkit-scrollbar{
	width: 3px;
	background-color: #D0D4CE;
}

body::-webkit-scrollbar-thumb{
  border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

