.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding-bottom: 48px;
  border-bottom: 1px solid #CDD0D4;

  .title {
    font-size: 24px;
    font-family: var(--font-roboto);
    font-weight: bold;
  }
}

.mySwiper {
  width: 100%;

  .swiper_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 280px;
    height: 224px;
    border-radius: 8px;
  }

  .image {
    height: 100%;
    width: 100%;
    border-radius: 9px;
  }
  
  .info {
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180.16deg, rgba(0, 0, 0, 0) 50%, #000000 99.86%);
    gap: 8px;    

    .title {
      font-size: 20px;
      padding: 0 14px;
    }

    .description {
      font-size: 12px;
      font-weight: 300;
      padding: 0 14px;
    }

    .linksButtons {
      display: flex;
      padding: 0px 14px 14px 16px;
      gap: 16px;

      .openButton {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        color: var(--white);
  
        .openButton_text {
          font-size: 12px;
          text-decoration: underline;
        }
      }
    }

  }
}


@media (min-width: 425px) {
  .mySwiper{
    max-width: 595px;

    .swiper_slide {
      width: 380px;
      height: 280px;
    }
  }
}

@media (min-width: 768px) {
  .mySwiper {
    max-width: 804px;

    .swiper_slide {
      width: 480px;
      height: 340px;
    }

    .info {

      .title {
        font-size: 24px;
        padding: 0 30px;
      }
      
      .description {
        padding: 0 30px;
        font-size: 16px;
      }

      .linksButtons {
        padding: 0 30px;
        padding-bottom: 20px;

        .openButton {
  
          .icon {
            width: 20px;
            height: 20px;
          }
    
          .openButton_text {
            font-size: 16px;
          }
        }
      }
      
    }
  }
}